*{
  box-sizing: border-box;
}

body {
  background-color: white;
}
h1 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 15px;
}
p {
  margin-top: 5px;
  margin-left: 15px;
}
img {
  height: 180px;
  margin-top: 20px;
  margin-left: 15px;

}
a {
  margin-top: 2px;
  margin-left: 15px;
  text-decoration: none;
  color: black;
}
.topo {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.95);
  z-index: 1;
}
.logo {
  height: 40px;
  width: 20%;
  background-color: yellow;
}
.busca {
  height: 40px;
  width: 50%;
  background-color: orange;
}
.outros {
  height: 40px;
  width: 30%;
  background-color: grey;
}
.menu-lateral {
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 300px;

}
.menu-lateral img {
  height: 40px;
}

.botao-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.botao-menu:hover {
  color: red;
  cursor: pointer;
}

.conteudo {
  display: flex;
  margin-top: 60px;
}
.conteiner {
  margin-left: 20px;
  width: 100%;
  background-color: #f9f9f9;
}
.video {
  margin-right: 20px;
  position: relative;
}

.tempo{
  background-color: black;
  color: white;
  width: 35px;
  position: absolute;
  bottom:6px;
  right: 3px;
}
.grupo-videos {
  display: flex;
  flex-wrap: wrap;
}

/* media queries */
@media (max-width: 600px) {
  /* sumir com a barra lateral*/
  .menu-lateral {
    display: none;
  }

  .grupo-videos{
    justify-content: center;
  }
}
