body {
  background-color: #fafafa;
}
.barra {
  background-color: #ffffff;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 54px;
  width: 100vw;
}
.connteudo-barra {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 20.5%;
  align-items: center;
}
.connteudo-barra > .divisor {
  width: 1px;
  height: 22px;
  background-color: #dbdbdb;
  margin-top: 6px;
  margin-left: 8px;
}
.connteudo-barra > ion-icon {
  width: 22px;
  height: 22px;
  margin-top: 6px;
}
.connteudo-barra > img {
  width: 103px;
  height: 29px;
  margin-top: 15px;
  margin-left: 10px;
}
.pesquisa {
  border: 1px solid #dbdbdb;
  background-color: #fafafa;
  border-radius: 3px;
  margin: 10px auto;
  text-align: center;
  width: 215px;
  height: 28px;
}
.icones > ion-icon {
  width: 22px;
  height: 22px;
  margin-top: 6px;
}
.conteiner {
  background-color: #fafafa;
  margin-top: 54px;
  display: flex;
  justify-content: center;
}
.conteudo-central {
  width: 614px;
}
.stories {
  background-color: #ffffff;
  margin-top: calc(88px - 54px);
  border: 1px solid #dbdbdb;
  height: 118px;
  display: flex;
  flex-direction: row;
}
.margem-stories {
  width: 66px;
  height: 66px;
  margin: 15px 10px;
}
.logos-stories {
  width: 56px;
  height: 56px;
  margin-left: -71px;
  margin-bottom: 20px;
  border-radius: 50px;
}
.conteudo-stories > p {
  font-size: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 58px;
  height: 19px;
  text-align: center;
  margin-top: -15px;
  margin-left: 10px;
}
.conteudo-stories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
}
.publicacoes {
  background-color: brown;
}
.sidebar {
  background-color: green;
  width: 293px;
}
